.transaction {
    display: flex;
    justify-content: space-between;
}

.transaction {
    padding: 10px 25px;
    border-bottom: 1px solid #E8ECEF;
}

.transaction p {
    margin: 0;
}

.transaction span {
    font-size: 14px;
    line-height: 21px;
    color: #98A9BC;
}

.la-ruble-sign:before {
    color: #252631;
}