@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "LineAwesome";
  src: url("./fonts/line-awesome.ttf") format("ttf");
}

body,
html {
  font-family: 'Roboto', LineAwesome, sans-serif !important;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h6,
.p {
  font-family: Roboto;
  margin-bottom: 0 !important;
  padding: 0;
  border: none;
  outline: none;
}

a:hover {
  text-decoration: none !important;
}

button {
  max-width: 206px;
  width: 100%;
  max-height: 46px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-style: normal;
  font-weight: normal !important;
  font-size: 30px !important;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: #1B1E24;
  margin-bottom: 11px;
}

h2 {
  font-style: normal;
  font-weight: normal !important;
  font-size: 26px !important;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #252631;
}

h3 {
  font-style: normal;
  font-weight: normal !important;
  font-size: 20px !important;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #252631;
}

h4 {
  font-style: normal;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #252631;
}

h5 {
  font-style: normal;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #252631;
  margin-bottom: 0 !important;
}

.light {
  font-weight: 300 !important;
}

.pseudo-black-text {
  color: #252631 !important;
}


.secondary {
  font-size: 14px !important;
  line-height: 21px !important;
  color: #98A9BC;
}

.btn {
  font-weight: 500px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #fff;
}

.btn-primary {
  background-color: #FFAB2B !important;
  border: #FFAB2B !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #F2F4F6 !important;
  color: #FFAB2B !important;
}

label {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #252631;
}

input {
  background: #FFFFFF;
  border: 1px solid #E8ECEF !important;
  box-sizing: border-box;
  border-radius: 4px !important;
  color: #1B1E24 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

input[type=checkbox] {
  background-color: #98A9BC !important;
  border-radius: 2px !important;
}

::placeholder {
  color: #98A9BC !important;
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 500;
}

a {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #252631 !important;
}

.center {
  text-align: center;
}

.list-header {
  max-height: 56px;
  padding: 20px 0;
  color: #778CA2;
  border-bottom: 1px solid #E8ECEF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-header-text {
  font-weight: 400;
  font-size: 16px !important;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #252631;
  margin-bottom: 0;
  margin-left: 23px;
}

.list-header-icons {
  margin-right: 21px;
}

.icon-circle-orange {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: rgba(255, 171, 43, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle-orange i {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFAB2B;
}

.flex {
  display: flex;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horiz-center {
  display: flex;
  justify-content: center;
}

.flex-space-btw {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-dir-col {
  flex-direction: column;
}

.padding-vert-30 {
  padding: 30px 0;
}

.padding-vert-20 {
  padding: 20px 0;
}

.padding-vert-18 {
  padding: 18px 0;
}

.padding-vert-24 {
  padding: 24px 0;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.width-0ps {
  width: 0%;
}

.width-33ps {
  width: 33.33%;
}

.width-48ps {
  width: 48%;
}

.width-66ps {
  width: 66.66%;
}

.width-100ps {
  width: 100%;
}