* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-shadow: none;
}

body {
    background-color: #F2F2F2 !important;
}

.transactions {
    max-width: 650px;
    width: 100%;
    
    background-color: #FFFFFF;
    border-radius: 3px;
}

.find-transaction {
    display: flex;
    align-items: center;
    color: #778CA2;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #E8ECEF;
}

.find-transaction p {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 14px;
    text-transform: uppercase;
    color: #252631;
    margin-bottom: 0;
    margin-left: 14px;
}

.find-transaction input {
    height: inherit;
    font-size: 12px;
    border: none !important;
}

::placeholder {
    font-weight: 500;
}

.find-transaction i {
    margin: 0 6px 0 25px;
}

.transaction,
.category,
.info {

    display: flex;
    justify-content: space-between;

}

.transaction {
    padding: 10px 25px;
    border-bottom: 1px solid #E8ECEF;
}

.transaction p {
    margin: 0;
}

.transaction span {
    font-size: 14px;
    line-height: 21px;
    color: #98A9BC;
}

.category {
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: rgba(255, 171, 43, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon i {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFAB2B;
}

.category-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-text p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #252631;
}


.info-text {
    text-align: right;
    margin-right: 18px;
}

.info-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.175px;
    color: #252631;
}

.la-ruble-sign:before {
    color: #252631;
}